* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.container {
  display: block;
  width: 960px;
  height: 100%;
  margin: 0 auto;
  font-size: 0;
}
.left {
  display: inline-block;
  vertical-align: middle;
}
.left {
  width: 384px;
  margin-right: 70px;
  height: 100%;
  background-image: url("https://berkeleytime-production-static.s3.amazonaws.com/static_media/css/img/berkeley.jpg");
  background-size: cover;
  background-position: center center;
  padding-top: 50px;
  position: relative;
}
.left a,
.left a:active,
.left a:focus {
  outline: none;
  color: inherit;
  text-decoration: none;
}
.left .title {
  font-family: "Roboto", "Helvetica Neue", "Helvetica", sans-serif;
  height: 60px;
  line-height: 40px;
  font-size: 30px;
  text-transform: uppercase;
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
  padding: 10px 15px 10px 0;
  background-color: white;
  text-align: right;
}
.left .links {
  display: block;
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
}
.left .links .link {
  display: block;
  width: 100%;
  padding: 15px 15px 15px 0;
  background-color: white;
  pointer: cursor;
  text-align: center;
  font-family: "Bariol", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: right;
  cursor: pointer;
}
.left .links .link .details {
  display: none;
}
.left .links .link .details a,
.left .links .link .details a:active,
.left .links .link .details a:visited {
  color: #bd723a;
  text-decoration: underline;
  cursor: pointer;
}
.left .links .link:hover .details {
  display: inline-block;
}
.right {
  width: 506px;
  font-family: "Bariol", "Helvetica Neue", "Helvetica", sans-serif;
  display: none;
}
.right.current {
  display: inline-block;
}
.right.intro-container,
.right.contact-container,
.right.about-container {
  vertical-align: middle;
}
.right .intro,
.right .about {
  width: 100%;
  text-align: left;
  font-size: 16px;
}
.right .intro {
  line-height: 40px;
  text-transform: lowercase;
  border-bottom: 1px solid #eee;
}
.right .about {
  line-height: 1.5em;
  margin-top: 60px;
}
.right .about p {
  margin-bottom: 10px;
}
.right .about p:last-of-type {
  margin-bottom: 0;
}
.right .section a,
.right .section a:active,
.right .section a:visited {
  color: #bd723a;
  text-decoration: underline;
  cursor: pointer;
}
.right .contact p {
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  width: 100%;
  text-align: center;
}
