.height(@h) {
    height: @h;
    line-height: @h;
}

.box-sizing(@s) {
    -webkit-box-sizing: @s;
    -moz-box-sizing: @s;
    box-sizing: @s;
}

.vertically-centered(@font-size) {
    display: inline-block;
    vertical-align: middle;
    font-size: @font-size;
}

.vertically-centered() {
    display: inline-block;
    vertical-align: middle;
}

.vertically-centered-parent() {
    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
    font-size: 0;
}

// let me use padding without fear
* {
    .box-sizing(border-box);
}

html, body {
    height: 100%;
}

@link-color: #bd723a;
@main-width: 960px;
@roboto: "Roboto", "Helvetica Neue", "Helvetica", sans-serif;
@bariol: "Bariol", "Helvetica Neue", "Helvetica", sans-serif;
.container {
    display: block;
    width: @main-width;
    height: 100%;
    margin: 0 auto;
    font-size: 0;
}

.left {
    display: inline-block;
    vertical-align: middle;
}


@left-container-width: @main-width * 0.4;
@right-container-width: @main-width * 0.6;
@left-right-margin: 70px;
@left-column-top-padding: 50px;

@title-topbottom-padding: 10px;
@title-top-offset: @left-column-top-padding + @title-topbottom-padding;
.left {
    width: @left-container-width;
    margin-right: @left-right-margin;
    height: 100%;
    background-image: url("https://berkeleytime-production-static.s3.amazonaws.com/static_media/css/img/berkeley.jpg");
    background-size: cover;
    background-position: center center;

    padding-top: @left-column-top-padding;

    position: relative;

    a, a:active, a:focus {
        outline: none;
        color: inherit;
        text-decoration: none;
    }

    .title {
        font-family: @roboto;
        height: 60px;
        line-height: 60px - 20px;
        font-size: 30px;
        text-transform: uppercase;

        width: 100%;
        text-align: left;
        margin-bottom: 10px;
        padding: @title-topbottom-padding 15px @title-topbottom-padding 0;
        background-color: white;
        text-align: right;
    }

    .links {
        display: block;
        position: absolute;
        bottom: 40px;
        left: 0;
        right: 0;

        .link {
            display: block;
            width: 100%;
            padding: 15px 15px 15px 0;
            background-color: white;
            pointer: cursor;

            text-align: center;
            font-family: @bariol;
            font-size: 16px;
            text-transform: uppercase;

            margin-bottom: 10px;
            text-align: right;

            cursor: pointer;

            .details {
                display: none;

                a, a:active, a:visited {
                    color: @link-color;
                    text-decoration: underline;
                    cursor: pointer;
                }
            }

            &:hover {
                .details {
                    display: inline-block;
                }
            }
        }
    }
}

.right {
    width: @right-container-width - @left-right-margin;
    font-family: @bariol;
    display: none;
    &.current {
        display: inline-block;
    }

    &.intro-container, &.contact-container, &.about-container {
        vertical-align: middle;
    }

    &.projects-container {
        vertical-align: top;
    }

    a, a:active, a:visited {
        color: @link-color;
        text-decoration: underline;
        cursor: pointer;
    }

    .intro, .about {
        width: 100%;
        text-align: left;
        font-size: 16px;
    }

    .intro {
        line-height: 40px;
        text-transform: lowercase;
        border-bottom: 1px solid #eee;
    }

    .about {
        line-height: 1.5em;
        margin-top: @left-column-top-padding + @title-topbottom-padding;

        p {
            margin-bottom: 10px;

            &:last-of-type {
                margin-bottom: 0;
            }

        }
    }


    .contact {
        p {
            height: 40px;
            line-height: 40px;
            font-size: 20px;
            width: 100%;
            text-align: center;
        }
    }

    @project-highlight-width: @right-container-width * 0.05;
    @project-highlight-margin: 10px;
    @project-inner-width: @right-container-width * 0.95 - @project-highlight-margin;
    .projects {
        padding-top: @title-top-offset - @title-topbottom-padding;
        h2 {
            .height(20px);
            font-size: 20px;
            text-transform: uppercase;
            margin-bottom: 20px;
        }
        .project {
            display: table;
            margin: 0;
            padding: 0;
            margin-bottom: 10px;

            .highlight, .project-inner {
                display: table-cell;
                margin: 0;
                padding: 0;
            }

            .highlight {
                display: inline-block;
                vertical-align: top;
                height: 100%;
                width: @project-highlight-width;
                margin-right: @project-highlight-margin;
            }

            &.berkeleytime .highlight {
                background-color: #37AEE9;
            }

            .project-inner {
                display: table-cell;
                vertical-align: top;

                .title {
                    .height(18px);
                    font-size: 18px;
                    margin-bottom: 5px;
                }

                .technologies {
                    .height(12px);
                    font-size: 12px;
                    font-family: @roboto;
                    margin-bottom: 10px;
                }

                .description {
                    width: 100%;
                    text-align: left;
                    font-size: 16px;
                    line-height: 1.5em;
                }
            }
        }
    }
}