scripts/*.pyc
blog/static
blog/node_modules
venv
notebooks
.DS_Store
.ipynb_checkpoints/
build/*
blog/bower_components
blog/build
new/build/*
new/node_modules
new/.idyll/*

# Gatsby stuff:
# Project dependencies
.cache
node_modules
/node_modules
yarn-error.log

# Build directory
.DS_Store
.next

.vercel/output

