<link rel="import" href="/blog/bower_components/polymer/polymer.html">
<link rel="import" href="/blog/bower_components/marked-element/marked-element.html">

<dom-module id="ng-markdown-content">
    <template>
        <div class$="format-{{format}} markdown-content">
            <marked-element class="main" markdown="{{content}}">
                <div class="markdown-html"></div>
            </marked-element>
        </div>
    </template>

    <style is="custom-style">
        .format-post-preview p, .format-post-preview li {
            font-family: "Open Sans", arial, sans-serif;
            font-size: 14px;
            line-height: 14px;
            line-height: 18px;
            margin-top: 10px;
            padding-bottom: 10px;
        }
        .format-post-preview p + p {
            margin-top: 0;
        }
        .format-post-preview pre > code {
            font-size: 12px;
            line-height: 12px;
            margin-top: 0;
            margin-bottom: 0;
        }
        p, li {
            font-family: "Gentium Book Basic", times, serif;
            font-size: 21px;
            line-height: 26px;
            color: #333;
            padding-bottom: 15px;
            margin-top: 15px;
        }
        a {
            color: #1A3F4B;
        }
        code {
            font-family: monospace;
            font-size: 16px; 
        }
        pre {
            display: block;
        }
        pre > code {
            display: block;
            border: 1px solid #ddd;
            border-radius: 2px;
            padding: 10px;
            margin-top: 10px;
            font-family: monospace;
            font-size: 14px;
            white-space: pre-wrap;
        }

        pre > code.hljs {
            border: none;
        }
        pre + p {
            margin-top: 30px;
        }
        ol {
            margin-left: 30px;
        }
        ol li {
            list-style-type: decimal;
        }
        ul li {
            list-style-type: square;
            margin-left: 40px;
        }
        h1, h2, h3, h4, h5, h6 {
            width: 100%;
            font-family: "Roboto", "Helvetica Neue", "Helvetica", sans-serif;
            margin-bottom: 10px;   
            margin-top: 40px;
        }
        h1 {
            font-size: 28px;
        }
        h2 {
            font-size: 24px;
        }
        h3 {
            font-size: 20px;
        }
    </style>
    <script>
        Polymer({
            is: "ng-markdown-content",
            properties: {
                format: {
                    type: String
                }
            },
            ready: function() {
                this.content = document.createElement("marked-element")
                    .unindent(
                        Polymer.dom(this).innerHTML
                            .replace(new RegExp('&lt;', 'g'), "<")
                            .replace(new RegExp('&gt;', 'g'), ">")
                    );
                this.addEventListener('marked-render-complete', function (e) {
                    var elements = e.target.querySelectorAll("pre code");
                    // this next line has to be stuck in the 90's
                    // https://css-tricks.com/snippets/javascript/loop-queryselectorall-matches/
                    for (var i = 0; i < elements.length; i++) {
                        hljs.highlightBlock(elements[i]);
                    }
                });
            }
        })
    </script>
</dom-module>
