<link rel="import" href="/blog/bower_components/polymer/polymer.html">
<link rel="import" href="/blog/bower_components/iron-flex-layout/iron-flex-layout.html">

<dom-module id="ng-nav">
    <template>
        <nav>
            <h1 class="title ">NOAH GILMORE</h1>
            <ul class="nav-links">
                <li><a href="/">HOME</a></li>
                <li><a href="/blog/">POSTS</a></li>
            </ul>
        </nav>
    </template>

    <style is="custom-style">
        nav {
            padding: 40px 60px;
            @apply(--layout-horizontal);
            @apply(--layout-wrap);
            @apply(--layout-start-justified);
            border-bottom: 1px solid #ddd;
        }
        .nav-links {
            @apply(--layout-flex-11);
            @apply(--layout-horizontal);
            @apply(--layout-end-justified);
        }
        .nav-links > li {
            @apply(--layout-flex);
            @apply(--layout-horizontal);
            @apply(--layout-center);
            max-width: 100px;
            font-family: "Bariol", "Helvetica Neue", "Helvetica", sans-serif;
            font-size: 20px;
        }
        .nav-links > li > a {
            height: auto;
            text-decoration: none;
            color: rgba(128, 165, 177, 1);
        }
        .nav-links > li > a:hover {
            color: rgba(151, 195, 210, 1);
        }
        .title {
            @apply(--layout-flex-1);
            font-family: "Roboto", "Helvetica Neue", "Helvetica", sans-serif;
            font-size: 35px;
        }
    </style>
</dom-module>

<script>
    Polymer({
        is: "ng-nav"
    })
</script>